/interpreter-pattern-example/.vs/
/interpreter-pattern-example/out/
/source/.vs/
/source/out/
/tests/.vs/
/tests/out/
/tests/visual_test_output/
.vscode
.vs
/visual_test_output
*/build/
/visuals/
*/visuals/